
/.idea
*.log
**/cmake-build-debug/**
/cmake-build-debug/
/cmake-build-debug/.cmake/
*.cmake
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/.cmake/api/v1/reply/target-Proyecto1-Debug-bc1c749b6b09c3243671.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-13T23-11-12-0068.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-13930a9ff6753315b103.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-525e62ea906146c3c2c9.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-32097e58e883ab8f83fc.json
